<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HiringFunnel - Greška</title>
</head>
<body>
    <hgroup>
        <h1>Greška!</h1>
        <h2>Došlo je do greške prilikom obrade zahteva.</h2>
    </hgroup>
</body>
</html>
